<div class="container-fluid">
  <div *ngIf="word === undefined">
    <p>
      <button type="button" class="btn btn-primary btn-sm" (click)="startGame()">Start</button>
    </p>
    <label for="lesson"><strong>Lesson: </strong></label>
    <input type="text" id="lesson" autocapitalization="none" autocomplete="off" name="lesson" [formControl]="lessonId" />
  </div>
  <div *ngIf="word !== undefined">
    <p>
      <strong>
        <span *ngIf="needTranslation">Translation</span>
        <span *ngIf="!needTranslation">Word</span>
      </strong>: {{ getWord() }}
    </p>
    <p><button type="button" class="btn btn-outline-primary" (click)="clicked(1)">{{ getFirst() }}</button></p>
    <p><button type="button" class="btn btn-outline-primary" (click)="clicked(2)">{{ getSecond() }}</button></p>
    <p><button type="button" class="btn btn-outline-primary" (click)="clicked(3)">{{ getThird() }}</button></p>
    <p><button type="button" class="btn btn-outline-primary" (click)="clicked(4)">{{ getFourth() }}</button></p>
    <ngb-alert type="success" *ngIf="success && result !== undefined">
      {{ result }}
    </ngb-alert>
    <ngb-alert type="danger" *ngIf="!success && result !== undefined">
      {{ result }}
    </ngb-alert>
  </div>
</div>