<div class="container-fluid">
  <div *ngIf="word === undefined">
    <p>
      <button type="button" class="btn btn-primary btn-sm" (click)="startGame()">Start</button>
    </p>
    <label for="lesson"><strong>Lesson: </strong></label>
    <input type="text" id="lesson" autocapitalization="none" autocomplete="off" name="lesson"
      [formControl]="lessonId" />
  </div>
</div>
<div class="container" *ngIf="word !== undefined">
  <p>
    <strong>
      <span *ngIf="needTranslation">Translation</span>
      <span *ngIf="!needTranslation">Word</span>
    </strong>: {{ getWord() }}
  </p>
  <ngb-alert type="primary" [dismissible]="false" (click)="clicked(1)">
    {{ getFirst() }}
  </ngb-alert>
  <ngb-alert type="primary" [dismissible]="false" (click)="clicked(2)">
    {{ getSecond() }}
  </ngb-alert>
  <ngb-alert type="primary" [dismissible]="false" (click)="clicked(3)">
    {{ getThird() }}
  </ngb-alert>
  <ngb-alert type="primary" [dismissible]="false" (click)="clicked(4)">
    {{ getFourth() }}
  </ngb-alert>
  <ngb-alert type="success" *ngIf="success && result !== undefined">
    {{ result }}
  </ngb-alert>
  <ngb-alert type="danger" *ngIf="!success && result !== undefined">
    {{ result }}
  </ngb-alert>
  <ngb-alert type="info" *ngIf="comments !== undefined">
    <strong>Info: </strong>{{ comments }}
  </ngb-alert>
  <p>
    <ngb-progressbar [showValue]="true" type="success" [value]="correct" [max]="correct+wrong"></ngb-progressbar>
  </p>
</div>