<div class="container-fluid">
  <form [formGroup]="wordForm" (ngSubmit)="onSubmit()">
    <label for="foreign"><strong>Foreign: </strong></label>
    <input type="text" id="foreign" name="foreign" formControlName="foreign" required />
    <label for="translation"><strong>Translation: </strong></label>
    <input type="text" id="translation" name="translation" formControlName="translation" required />
    <label for="lesson"><strong>Lesson: </strong></label>
    <input type="text" id="lesson" name="lesson" formControlName="lesson" />
    <button type="submit" [disabled]="wordForm.pristine" class="btn btn-primary btn-sm">Save</button>
    <button type="reset" class="btn btn-primary btn-sm" (click)="cancel()">Cancel</button>
  </form>
</div>
<div class="container-fluid">
  <label for="lesson"><strong>Lesson: </strong></label>
  <select class="form-control" id="lesson" [formControl]="lessonId" >
    <option value="0" selected="selected">All</option>
    <option *ngFor="let lesson of lessons" [value]="lesson.id">{{lesson.lesson}}</option>
  </select>
  <table>
    <tr>
      <th>Id</th>
      <th>Foreign</th>
      <th>Translation</th>
      <th>Lesson</th>
    </tr>
  </table>
  <tr *ngFor="let word of getWords()">
    <td (click)="setWord(word)">{{ word.id }}</td>
    <td (click)="setWord(word)">{{ word.foreign }}</td>
    <td (click)="setWord(word)">{{ word.translation }}</td>
    <td (click)="setWord(word)">{{ word.lesson }}</td>
  </tr>
</div>