<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-expand" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#" routerLink="/wordgame">Wordgame <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#" routerLink="/lessons">Lessons</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#" routerLink="/words">Words</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>