<div class="container-fluid" *ngIf="answers.length === 0">
    <p>
        <button type="button" class="btn btn-primary btn-sm" (click)="startGame()">Start</button>
    </p>
    <label for="lesson"><strong>Lesson: </strong></label>
    <input type="text" id="lesson" autocapitalization="none" autocomplete="off" name="lesson"
        [formControl]="lessonId" />
</div>
<div class="container" *ngIf="answers.length !== 0">
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th scope="col">Question</th>
                <th scope="col">Answer</th>
                <th scope="col">Up</th>
                <th scope="col">Down</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let word of questions; let i = index">
                <th scope="row">{{ getWord(word) }}</th>
                <td>{{ answers[i] }}</td>
                <td (click)="clickUp(i)">
                    <svg *ngIf="i !== 0" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
                    </svg></td>
                <td (click)="clickDown(i)">
                    <svg *ngIf="i !== questions.length-1" xmlns="http://www.w3.org/2000/svg"
                        width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
                    </svg>
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <button type="button" class="btn btn-primary btn-sm" (click)="submit()">Submit answer</button>
    </p>
    <ngb-alert type="success" [dismissible]="false" *ngIf="success && results !== undefined">
        Congratulations! That was completely correct!
      </ngb-alert>
      <ngb-alert *ngFor="let result of results" type="danger">
        {{ result }}
      </ngb-alert>
    <p>
        <ngb-progressbar [showValue]="true" type="success" [value]="correct" [max]="correct+wrong"></ngb-progressbar>
      </p>
</div>