<div class="container-fluid" *ngIf="answers.length === 0">
    <p>
        <button type="button" class="btn btn-primary btn-sm" (click)="startGame()">Start</button>
    </p>
    <label for="lesson"><strong>Lesson: </strong></label>
    <input type="text" id="lesson" autocapitalization="none" autocomplete="off" name="lesson"
        [formControl]="lessonId" />
</div>
<div class="container" *ngIf="answers.length !== 0">
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th scope="col">Question</th>
                <th scope="col">Answer</th>
                <th scope="col">Up</th>
                <th scope="col">Down</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let word of questions; let i = index">
                <th scope="row">{{ getWord(word) }}</th>
                <td>{{ getUseranswer(i) }}</td>
            </tr>
        </tbody>
    </table>
    <p>
        <button *ngFor="let word of answers; let i = index" type="button" class="btn btn-primary btn-sm " (click)="setAnswer(word)" style="margin-left: 10px;">{{ word }}</button>
    </p>
    <p>
        <button type="button" class="btn btn-primary btn-sm" (click)="clear()">Clear</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="clearAll()" style="margin-left: 10px;">Clear all</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="submit()" style="margin-left: 10px;">Submit answer</button>
    </p>
    <ngb-alert type="success" [dismissible]="false" *ngIf="success && results !== undefined">
        Congratulations! That was completely correct!
      </ngb-alert>
      <ngb-alert *ngFor="let result of results" type="danger">
        {{ result }}
      </ngb-alert>
    <p>
        <ngb-progressbar [showValue]="true" type="success" [value]="correct" [max]="correct+wrong"></ngb-progressbar>
      </p>
</div>