<div class="container-fluid">
  <div *ngIf="word === undefined">
    <p>
      <button type="button" class="btn btn-primary btn-sm" (click)="startGame()">Start</button>
    </p>
    <label for="lesson"><strong>Lesson: </strong></label>
    <input type="text" id="lesson" autocapitalization="none" autocomplete="off" name="lesson"
      [formControl]="lessonId" />
  </div>
  <div *ngIf="word !== undefined">
    <p>
      <strong>
        <span *ngIf="needTranslation">Translation</span>
        <span *ngIf="!needTranslation">Word</span>
      </strong>: {{ getWord() }}
    </p>
    <form [formGroup]="gameForm" autocomplete="off" (ngSubmit)="onSubmit()">
      <label for="answer"><strong>
          <span *ngIf="needTranslation">Word</span>
          <span *ngIf="!needTranslation">Translation</span>
        </strong></label>
      <input type="text" id="answer" autocapitalization="none" autocomplete="off" name="answer" formControlName="answer"
        required />
      <button type="submit" class="btn btn-primary btn-sm">Go</button>
      <p>
        Please translate the word and press 'Ok'.
      </p>
    </form>
    <ngb-alert type="success" *ngIf="success && result !== undefined">
      {{ result }}
    </ngb-alert>
    <ngb-alert type="danger" *ngIf="!success && result !== undefined">
      {{ result }}
    </ngb-alert>
  </div>
</div>