<div class="container">
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Lesson</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let lesson of lessons">
        <tr>
          <th scope="row">{{ lesson.id }}</th>
          <td>{{ lesson.lesson }}</td>
        </tr>
        <tr *ngIf="lesson.comments !== undefined">
          <td colspan="2">{{ lesson.comments }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>